[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=luke
WorkingDirectory=/home/luke/sites/DOMAIN
EnvironmentFile=/home/luke/sites/DOMAIN/.env

ExecStart=/home/luke/sites/DOMAIN/virtualenv/bin/gunicorn \
    --bind unix:/tmp/DOMAIN.socket \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target